<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Reg</title>
</head>
<body>
    <h1>Registration</h1>
        {% if messages %}
        {% for message in messages %}
        {% if message.extra_tags == "reg" %}
            <p>{{message}}</p>
        {% endif %}
        {% endfor %}
        {% endif %}
    <form action="/register" method="post">
        {% csrf_token %}
        <p>First Name: <input type="text" name="first_name"></p>
        <p>Last Name: <input type="text" name="last_name"></p>
        <p>Email: <input type="text" name="email"></p>
        <p>Password: <input type="password" name="password"></p>
        <p>Confirm Password: <input type="password" name="confirm_password"></p>
        <input type="submit" value="Register">
    </form>
    <h1>Login</h1>
        {% if messages %}
        {% for message in messages %}
        {% if message.extra_tags == "log" %}
            <p>{{message}}</p>
        {% endif %}
        {% endfor %}
        {% endif %}
    <form action="/login" method="post">
        {% csrf_token %}
        <p>Email: <input type="text" name="email"></p>
        <p>Password: <input type="password" name="password"></p>
        <input type="submit" value="Login">
    </form>
</body>
</html>